{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "ie >= 8"
          ]
        },
        "modules": "commonjs"
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
    "transform-class-properties",
    [
      "transform-es2015-classes",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "./babel"
      ]
    }
  }
}
