{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "ie >= 7"
          ]
        },
        "modules": "commonjs"
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "./babel"
      ]
    }
  }
}
